/* 
 * This file is deprecated.
 * Styles have been split into:
 * - HomeHero.css
 * - HomeGrid.css
 * 
 * Because its annoying to read long lines of css code
 * 
 * Please do not use this file.
 * ~ Lemar
 */